.div_content_parent{
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_content_card{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.div_content_tab{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}